{{- $siteName := or site.Params.seo.siteName site.Title "Pipery" -}}
{{- $title := cond .IsHome (or site.Params.seo.title site.Title) (printf "%s | %s" .Title $siteName) -}}
{{- $description := or .Params.description site.Params.seo.description site.Params.description -}}
{{- $image := "" -}}
{{- with or site.Params.seo.image .Params.images site.Params.images site.Params.socialCard.images -}}
  {{- if reflect.IsSlice . -}}
    {{- $image = index . 0 | absURL -}}
  {{- else -}}
    {{- $image = . | absURL -}}
  {{- end -}}
{{- end -}}
<meta name="application-name" content="{{ $siteName }}">
<meta name="robots" content="index, follow, max-image-preview:large">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- with $image }}
<meta property="og:image" content="{{ . }}">
<meta property="og:image:secure_url" content="{{ . }}">
<meta name="twitter:image" content="{{ . }}">
<meta name="twitter:image:alt" content="Pipery CI/CD pipeline observability">
{{- end }}
<meta property="og:site_name" content="{{ $siteName }}">
<meta name="twitter:card" content="{{ if $image }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
{{- with site.Params.socialCard.twitterSite }}
<meta name="twitter:site" content="@{{ . }}">
{{- end }}
{{- with site.Params.socialCard.twitterCreator }}
<meta name="twitter:creator" content="@{{ . }}">
{{- end }}
<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" "Organization"
  "name" $siteName
  "url" site.BaseURL
  "logo" ("/images/pipery-mark-dark.png" | absURL)
  "sameAs" (slice "https://github.com/pipery-dev" "https://pipery.dev" "https://dash.pipery.dev")
| jsonify | safeJS -}}
</script>
<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" "SoftwareApplication"
  "name" "Pipery"
  "applicationCategory" "DeveloperApplication"
  "operatingSystem" "GitHub Actions"
  "url" site.BaseURL
  "description" $description
  "image" $image
  "offers" (dict "@type" "Offer" "price" "0" "priceCurrency" "USD")
  "publisher" (dict "@type" "Organization" "name" $siteName "url" site.BaseURL)
| jsonify | safeJS -}}
</script>
{{- if .IsPage }}
<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" "TechArticle"
  "headline" .Title
  "description" $description
  "url" .Permalink
  "image" $image
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "author" (dict "@type" "Organization" "name" $siteName)
  "publisher" (dict "@type" "Organization" "name" $siteName "logo" (dict "@type" "ImageObject" "url" ("/images/pipery-mark-dark.png" | absURL)))
| jsonify | safeJS -}}
</script>
{{- end }}
